* {

    /*font-family: sans-serif;*/
    font-size: 21px;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(ancien.png);
    background-position: center;
    background-size: cover;
    position: absolute;
}
p{
    /*margin-bottom: 0px;*/
    /*margin-top: 0px;*/
    text-align: justify;
    text-indent: 15px;
}


article{
    /*width: 600px;*/
    /*height: 1720px;*/
    position: absolute;
    margin: 25%;
    background: rgba(00,191,191,0.5);
    background-sizs: cover;
    border-radius: 4px;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    /*display: flex;*/
}
section{
    background: rgba(00,191,191,0.5);
    width: 250px;
    height: 200px;
    position: absolute;
    left: 10px;
    font-size: 25px;
    text-align: justify;
}
.iimg{
    float: right;
}
.img {
     widows: 50;
     width: 500px;
     box-shadow: 0 0 20px 0 #7f7f7f3d;
     /*cursor: pointer;*/
 }
.go{
    width: 100px;
    height: 100px;

}
table{
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(dream.jpg);
    background-attachment: scroll;

}
article strong{
    text-decoration-skip-ink: auto;
    font-size: 25px;
}
a:link{
    color: blue;

}
a:hover{
    color: greenyellow;

}
a:visited{
    color: mediumvioletred;

}
a:active{
    color: orangered;
}
.guide{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    right: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}


.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-icon {
    margin: 30px auto;
    text-align: center;
}


.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}
h1{
    float: right;
}
h2{
    clear: left;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}
.input-field:focus~label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
    
